<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/commons :: head">
</head>
<body>
<body>
<div class="container">
    <h1 class="text-white text-center"></h1>
    <div class="main-fone error-page">
        <h1>Страницата не може да бъде намерена!</h1>
        <h3>Върни се към нашата home страница <a th:href="@{/}">тук</a>!</h3>
        <img src="/images/404.jpg" class="img-fluid" width="600px" height="800px" alt="404">
    </div>
</div>

</body>

</body>
</html>