<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head">
</head>

<body>
<nav th:replace="fragments/commons :: nav"></nav>
<main>
    <div th:if="${success != null}" th:text="${success}" role="alert" class="alert alert-success text-center fw-bold"></div>
    <section class="my-main-section">

        <div class="col-lg-8 mx-auto">
            <div class="card text-center">
                <div class="card-body text-dark">
                    <h1 class="card-title">Избери пица изцяло по твой вкус!</h1>
                    <h5 class="card-text">Ние ще я направим и доставим до твоята врата!</h5>
                </div>
            </div>
        </div>

    </section>

    <section class="container px-4 px-lg-5">

        <div class="row gx-4 gx-lg-5 align-items-center my-5">

            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/index/pizza-courier-online.jpg"
                     alt="">
            </div>
            <div class="col-lg-5 main-fone">
                <h5>1. Регистрирай се! Бързо и лесно е!</h5>
                <p>
                    Важно е да ни оставиш точен адрес и актуален телефон, за да можем бързо и лесно да те открием!
                </p>
                <p>
                    Ако вече имаш регистрация, просто влез в своя профил.
                </p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 align-items-center my-5">

            <div class="col-lg-5 main-fone">
                <h5>2. Ред е да развихриш своето въобръжение!</h5>
                <p>
                    Избери размера, соса, с който да покрием твоята пица, и продуктите, които ти се хапват.
                </p>
            </div>

            <div class="col-lg-7 pt-4">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/index/Order-of-Pizza-Ingredients.png"
                     alt="">
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/index/timer.jpeg"
                     alt="">
            </div>
            <div class="col-lg-5 main-fone">
                <h5>3. Избери дали искаш да я доставим до посочения от теб адрес или ще я вземеш от място!</h5>
                <p>
                    Пицата ти ще бъде готова до час след направената от теб поръчка. Доставката е само в рамките на град Казанлък
                    и се заплаща. Цената е един лев.
                </p>

            </div>
        </div>

        <div class="row gx-4 gx-lg-5 align-items-center my-5">

            <div class="col-lg-5 main-fone">
                <h5>4. Наслади се на твоята пица!</h5>
                <p>
                    Сподели я с любим човек за още по-голяма наслада!
                </p>
            </div>

            <div class="col-lg-7 pt-4">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="/images/index/enjoy-pizza.jpg"
                     alt="">
            </div>
        </div>

    </section>
</main>


<footer th:replace="fragments/commons :: footer">
</footer>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script> -->
</body>

</html>