<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head">
</head>

<body>

<nav th:replace="fragments/commons :: nav"></nav>

    <div class="container container-ingredients">
        <h2 class="text-center text-white pt-5">Направи си пица</h2>
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Избери размер</h3>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                <label class="form-check-label" for="inlineRadio1">Малка</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                <label class="form-check-label" for="inlineRadio2">Средна</label>
            </div>

        
        </section>
    </div>

    <div class="container container-ingredients">
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Избери основа (всяка основа включва кашкавал)</h3>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio3"
                    value="option1">
                <label class="form-check-label" for="inlineRadio3">Доматена</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio4"
                    value="option2">
                <label class="form-check-label" for="inlineRadio4">Сметанова</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio5"
                    value="option2">
                <label class="form-check-label" for="inlineRadio5">Барбекю</label>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Вашите съставки</h3>
            <h6>Колбаси</h6>
            <div class="container container-ingredients">
                <div class="row">

                    <div class="card card-custom m-1">
                        <img src="/images/ham-boiled.jpg" class="card-img-top" alt="ham-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheckbox1"
                                    value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">шунка</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/troyanska-lukanka.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">луканка</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/chicken-slices.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">пилешко филе</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/pepperoni.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">пеперони</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/proshuto.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">прошуто</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/tuna.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">риба тон</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/becon-slice_02.jpg" class="card-img-top" alt="lukanka-img" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">бекон</label>
                            </div>
                        </div>
                    </div>

                  
                </div>
            </div>

            <h6>Зеленчуци</h6>

            <div class="container container-ingredients">
                <div class="row">
                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/mushrooms.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">гъби</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/cherni-maslini.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">маслини</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/tomatoes.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">домати</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/pickles.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">кисели краставички</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/green-pepper.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">зелени чушки</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/pecheni-chuski.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">червени печени чушки</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/broccoli.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">броколи</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/onion.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">червен лук</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/vegetables/sweet_corn.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">царевица</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <h6>Млечни и яйце</h6>

            <div class="container container-ingredients">
                <div class="row">
                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/kashkaval.png" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">кашкавал</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/sirene-plato.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">бяло сирене</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/blue-cheese.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">синьо сирене</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/mozarella.JPG" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">моцарела</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/supermarkets-pull-grated-parmesan-from-shelves.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">пармезан</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/smoked-cheese-photo12.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">топено сирене</label>
                            </div>
                        </div>
                    </div>

                    <div class="card card-custom m-1">
                        <img src="/images/milky,egg/egg.jpg" class="card-img-top" alt="" width="150px"
                            height="110px">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1">
                                <label class="form-check-label" for="inlineRadio1">яйце</label>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-info btn-lg" value="Поръчай своята пица!" />
                    </div>
                </div>
            </div>

        </section>
    </div>


    <footer th:replace="fragments/commons :: footer">
    </footer>

</body>

</html>