<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/commons :: head">
</head>

<body>

<nav th:replace="fragments/commons :: nav"></nav>

<form th:object="${pizzaBindingModel}" th:action="@{/pizza/builder}" th:method="post">
    <div class="container container-ingredients">
        <h2 class="text-center text-white pt-5">Направи си пица</h2>
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Избери размер</h3>

            <div th:each="s : ${T(bg.softuni.mychoicepizza.model.entity.enums.SizeEnum).values()}"
                 class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="size" th:id="${s}"
                       th:value="${s}">
                <label class="form-check-label" th:for="${s}" th:text="${s.name().toLowerCase()}"></label>
            </div>
        </section>
    </div>

    <div class="container container-ingredients">
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Избери основа (всяка основа включва кашкавал)</h3>

            <div th:each="b : ${T(bg.softuni.mychoicepizza.model.entity.enums.PizzaBaseEnum).values()}"
                 class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="base" th:id="${b}"
                       th:value="${b}">
                <label class="form-check-label" th:for="${b}" th:text="${b.name().toLowerCase()}"></label>
            </div>

        </section>
    </div>

    <div class="container">
        <section class="main-fone mx-auto col-md-10 ">
            <h3 class="text-dark">Вашите съставки</h3>
            <div th:each="c : ${categories}">
                <h6 th:text="${c.name.name().replace('_', ' ').toUpperCase()}">Колбаси</h6>
                <div class="container container-ingredients">
                    <div class="row">
                        <div th:each="i : ${c.ingredients}" th:object="${i}" class="card card-custom m-1">
                            <img th:src="*{picture.getUrl()}" class="card-img-top" th:alt="*{picture.getTitle()}"
                                 width="150px"
                                 height="110px">
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="ingredients"
                                           th:id="${i}"
                                           th:value="${i.name}">
                                    <label class="form-check-label" th:for="${i}" th:text="*{name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-lg" value="Поръчай своята пица!"/>
                    </div>
                </div>
            </div>

        </section>
    </div>

</form>
<footer th:replace="fragments/commons :: footer">
</footer>

</body>

</html>