<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons :: head">
</head>

<body>
<nav th:replace="fragments/commons :: nav"></nav>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div th:each="p : ${pizzas}" class="col-md-7">
                <div class="card mb-4 main-fone">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Количка</h5>
                    </div>
                    <div class="card-body">
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                     data-mdb-ripple-color="light">
                                    <img src="/images/logo.jpg" class="w-100" alt="pizza drawing"/>
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Data -->
                                <p th:text="|${p.size.name()} ПИЦА|"><strong>Парти пица</strong></p>
                                <p th:text="|Основа: ${p.base.name().toLowerCase()}|">Основа: доматена</p>
                                <p>Съставки:</p>
                                <div th:each="i : ${p.getIngredients()}">
                                    <ul>
                                        <li th:text="${i}"></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-sm me-1 mb-2"
                                        data-mdb-toggle="tooltip" title="Remove item">
                                    <i class="fas fa-trash"></i>
                                </button>
                                <!-- Data -->
                            </div>

                            <div class="col-lg-5 col-md-10 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <h6>Количество</h6>
                                <div class="d-flex mb-4" style="max-width: 300px">
                                    <button class="btn px-3 me-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <div class="form-outline">
                                        <input id="form1" min="1" name="quantity" th:value="${p.quantity}" type="number"
                                               class="form-control"/>
                                    </div>

                                    <button class="btn px-3 ms-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <p class="text-start text-md-center">
                                    <strong th:text="${p.price}">$17.99</strong>
                                </p>
                                <!-- Price -->
                            </div>
                        </div>
                        <!-- Single item -->

                        <hr class="my-4"/>

                        <!-- <div class="pt-5">
                            <h6 class="mb-0"><a href="#!" class="text-body"><i
                                  class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-12">
                <div class="card mb-4 main-fone">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Общо</h5>
                    </div>
                    <div class="card-body">


                        <div class="d-flex justify-content-between mb-4">
                            <h5>Products</h5>
                            <h5>€ 132.00</h5>
                        </div>

                        <h5 class="mb-3">Shipping</h5>

                        <div class="mb-4 pb-2">
                            <select class="select">
                                <option value="1">Standard-Delivery- €5.00</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                            </select>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-5">
                            <h5>Total price</h5>
                            <h5>€ 137.00</h5>
                        </div>


                        <button type="button" class="btn btn-lg btn-block">
                            Go to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/commons :: footer">
</footer>

<script src="https://kit.fontawesome.com/244c211c57.js" crossorigin="anonymous"></script>
</body>

</html>