<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons :: head">
</head>

<body>
<nav th:replace="fragments/commons :: nav"></nav>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <form th:method="post" th:action="@{/orders/add}" th:object="${orderAddBindingModel}">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-7">
                    <div class="card mb-4 main-fone">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Количка</h5>
                        </div>

<!--                        <div th:each="orderPizza : *{orderPizzaList}" >-->
<!--                        </div>-->
                            <!--                                    <input type="hidden" th:field="*{orderPizzaList[__${statItem.index}__].id}"  th:value="${p.id}"/>-->

                        <div th:each="p, status : ${pizzas}"  class="card-body">
                            <input type="hidden" name="pizzaIds" th:value="${p.id}"/>
                            <!-- Single item -->
                            <div class="row" th:id="'row' + ${status.count}">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                         data-mdb-ripple-color="light">
                                        <img src="/images/logo.jpg" class="w-100" alt="pizza drawing"/>
                                    </div>
                                    <!-- Image -->
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <p th:text="|${p.size.name()} ПИЦА|"><strong>Парти пица</strong></p>
                                    <p th:text="|Основа: ${p.base.name().toLowerCase()}|">Основа: доматена</p>
                                    <p>Съставки:</p>
                                    <div th:each="i : ${p.getIngredients()}">
                                        <ul>
                                            <li th:text="${i}"></li>
                                        </ul>
                                    </div>
                                    <div>
                                        <a class="linkRemove btn" th:rowNumber="${status.count}"
                                           th:href="@{'/cart/remove/' + ${p.id}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                    <!-- Data -->
                                </div>

                                <div class="col-lg-5 col-md-10 mb-4 mb-lg-0">
                                    <!-- Quantity -->
                                    <h6>Количество</h6>
                                    <div class="d-flex mb-4" style="max-width: 300px">
                                        <button class="btn px-3 me-2 linkMinus" th:iid="${p.id}">
                                            <!--                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"-->

                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <div class="form-outline">
                                            <input th:id="'quantity' + ${p.id}" min="1" name="quantity"
                                                  th:value="${p.quantity}" type="text"
                                                   class="form-control"/>
                                        </div>

                                        <button class="btn px-3 ms-2 linkPlus" th:iid="${p.id}">
                                            <!--                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"-->
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <!-- Quantity -->

                                    <!-- Price -->
                                    <p class="text-start text-md-center">
                                        <strong th:id="'subtotal' + ${p.id}" class="subtotal"
                                                th:text="${p.getSubtotal()}"></strong> лв.
                                    </p>
                                    <!-- Price -->
                                </div>
                            </div>
                            <hr class="my-4" th:id="'blankLine' + ${status.count}"/>
                            <!-- Single item -->


                        </div>

                        <div th:if="${#lists.isEmpty(pizzas)}">
                            <h3>Все още не си избрал нищо.</h3>
                            <h3>Количката е празна.</h3>
                        </div>
                    </div>

                </div>


                <div th:unless="${#lists.isEmpty(pizzas)}" class="col-md-5 col-sm-12">
                    <div class="card mb-4 main-fone">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Общо</h5>
                        </div>
                        <div class="card-body">


                            <div class="d-flex justify-content-between mb-4">
                                <h5>Цена пици</h5>
                                <span class="h5" id="total">[[${estimatedTotal}]]<span class="h5">лв.</span></span>
                            </div>

                            <h5 class="mb-3">Доставка</h5>

                            <div class="mb-4 pb-2">
                                <!--                            <select class="select">-->
                                <!--                                <option value="1">Standard-Delivery- €5.00</option>-->
                                <!--                                <option value="2">Two</option>-->
                                <!--                            </select>-->
                                <select id="delivery" class="form-control" th:field="*{delivery}" required>
                                    <option selected value="">- Избери опция -</option>
                                    <option th:each="d : ${T(bg.softuni.mychoicepizza.model.entity.enums.DeliveryEnum).values()}"
                                            th:text="${d}" th:value="${d}">
                                    </option>
                                </select>
                                <!--                            <p th:if="${#fields.hasErrors('category')}" th:errors = "*{category}" class="text-danger fw-bold">-->
                                <!--                                Category is required.-->
                                <!--                            </p>-->
                            </div>

                            <hr class="my-4">

                            <div class="d-flex justify-content-between mb-5">
                                <h5>Крайна цена</h5>
                                <h5>€ 137.00</h5>
                            </div>


                            <input type="submit" class="btn btn-lg btn-block" value="Поръчай"/>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer th:replace="fragments/commons :: footer">
</footer>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    var itemId = "[[@{i.id}]]";


</script>
<script th:src="@{/js/jquery-number.js}"></script>
<script th:src="@{/js/shopping-cart.js}"></script>

</body>

</html>